exportPattern("^[[:alpha:]]+")
importFrom("ranger", ranger)
importFrom("caret", postResample, trainControl, train)
importFrom("stats", "dist", "predict", "sd", "setNames", "terms", "rpois", "runif")
import(randomForest)
S3method(predict, grf)
